/* 
    font-family: 'Libre Baskerville', serif;
    font-family: 'Rock Salt', cursive;
    font-family: 'Rubik 80s Fade', cursive; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%; 
}
.section-bienvenida {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.bandera-argentina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.section-bienvenida img {
    width: 100%;
    max-height: fit-content;
}
.btn-sol {
    position: absolute;
    width: 18%;
    border: none;
    background: none;
    transition: all 1s;
      -webkit-transition: all 1s;
}
.btn-sol:hover {
    transform:rotate(360deg) scale(0.4,0.4);
        -webkit-transform:rotate(360deg) scale(1.4,1.4);
        -o-transform:rotate(360deg) scale(0.4,0.4);
}
.div-momentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
    background-color: #0e9ef5;
    background-image: linear-gradient(0deg, #0e9ef5 0%, #a6eefb 50%, #ffffff 100%);

}
.header {
        display: flex;
        font-family: 'Rubik 80s Fade', cursive;
        font-size: 4.5rem;
        flex-direction: column;
        align-items: center;
        background-color: #a6eefb;
        font-weight: bolder;
        padding-top: 10px;
}
.div-span_momentos {
    border: 2px solid #0e9ef5;
    margin-left: 85px;
    margin-bottom: 50px;
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.div-span_momentos img {
    width: 100%;
    height: 250px;
}
.div-span_momentos h2 {
    border-top: 1px #0e9ef5 solid;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    margin-top: 10px;

}
.span-especial {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #f8f8f8;

}
.span-especial img {
    width: 100%;
    height: 100%;
}
.span-especial h2 {
    border-top: 1px solid f8f8f8;
}
.div-span_momentos:hover {
    border: 2px solid #f8f8f8;
    background-color: #0e9ef5;
    color: #f8f8f8;
    transform: scale(1, 1);
    -webkit-transform:scale(1.2,1.2);
        -o-transform:scale(0.2,0.2); 
}
.section-capitulos {
    width: 100%;
}
.div-capitulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border: 1px solid #0e9ef5;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6rem;
}
.div-capitulos h2 {
    border-bottom: 1px solid #0e9ef5;
    padding: 0px 20px;
    margin: 5px;
}
.div-capitulos p {
    padding: 5px 40px;
}
.section-imagenes {
    display: flex;
    flex-direction: column;
}
.div-imagenes {
    display: grid;
    justify-items: center;
    justify-content: space-evenly;
    grid-template-columns: 10px 10px;
}
.div-imagenes img {
    width: 370px;
    margin: 20px;
}
/* .div-imagenes span {
  
} */
.imagen-partidos {
    width: 100px;
}
.inactive {
    display: none;
}
